body{
    background: #f7f7f7;
    font-family: verdana;
}

#title, .subtitle, .post_title{ 
    color: #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: underline;
    color: #0213ff;
}

.post_title{
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    border-top: 3px solid blue;
    border-right: 3px solid blue;
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
}